# rich - Красивое форматирование вывода в терминале (таблицы, прогресс-бары, текст с подсветкой)
rich

# click - Создание удобных интерфейсов командной строки
click

# rich-click - Для форматирования справки и вывода команд с цветным интерфейсом
rich-click
